<div>
    <ol class="breadcrumb">
        <li><a href="">Home</a></li>
        <li>Dashboard</li>
    </ol>
</div>
        <div class=" container-fluid">
            <!-- Three columns of text below -->

            <div class="row content">
                <div class="col-md-4">
                    <img  src="img/look.png" alt="Look back image" class="dashboard-img">
                    <h2>LOOK BACK</h2>
                    <p class="dashboard-p">Separate workflow for individual use Helpful Guides to get you started. Separate workflow for individual use Helpful Guides to get you started.</p>
                    <p><a href="look_back.html" class="btn btn-orange"><i class="fa fa-caret-right"></i>  Start</a></p>
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <img  src="img/plan.png" alt="Generic placeholder image" class="dashboard-img">
                    <h2>PLAN FORWARD</h2>
                    <p class="dashboard-p">Separate workflow for individual use Helpful Guides to get you started. Separate workflow for individual use Helpful Guides to get you started.</p>
                    <p><a href="plan.html" class="btn btn-orange"><i class="fa fa-caret-right"></i>  Start</a></p>
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <img  src="img/my.png" alt="Generic placeholder image" class="dashboard-img">
                    <h2>MY SCENARIOS</h2>
                    <p class="dashboard-p">Separate workflow for individual use Helpful Guides to get you started. Separate workflow for individual use Helpful Guides to get you started.</p>
                    <p><a href="scenarios.html" class="btn btn-orange"><i class="fa fa-caret-right"></i>  Start</a></p>
                </div><!-- /.col-md-4 -->
            </div> <!-- Three columns end -->

            <!-- START How it works? -->


                <div class="row content">

                    <div class="col-md-7 col-md-push-5">
                        <h1 class="video-title">How it works? </h1>
                        <p class="video-info-setting">Though the brand level spend allocation is decided in the beginning of the year, it is constantly tweaked and adjusted across different channels throughout the year. Having this agility requires quick measurement of ROI and the ability to simulate different scenarios. FocusKPI’s ROI platform, customized for you, gives you this agility. Its’ robust and flexible infrastructure allows you to seamlessly connect to various data sources. Built-in algorithms help you analyze past performance and better understand the ROI of various investments. Optimization model with a user friendly interface gives you a peek into the future by simulating for various investment scenarios within minutes Our ROI platform helps you continuously monitor and maximize your return across all investments by providing a strong decision support to not just strategic but tactical decisions as well.</p><p>


                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <div class="embed-responsive embed-responsive-16by9 video">
                            <iframe  width="480" height="360" src="https://www.youtube.com/embed/cqjTuU6Q4g8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                    </div>

            </div> <!-- works end -->


