<div class="container-fluid" id="Initial Input" ng-if="nav.current==='Initial Input'">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Plan Forward</a></li>
            <li>Initial Input</li>
        </ol>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="planForwardBrand" class="col-xs-12 col-sm-2 control-label">Brand:</label>
                <label class="col-xs-11 col-sm-4">
                    <select id="planForwardBrand" class="form-control" ng-model="planForward.brand"
                            ng-options="b for b in brands">
                    </select>
                </label>

                <div class="col-xs-1 elp-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{brandTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardAttribution" class="col-xs-12 col-sm-2 control-label">Attribution:</label>

                <div class="col-xs-11 col-sm-4" id="planForwardAttribution">
                    <label class="btn btn-default" ng-model="planForward.attribution" btn-radio="'LTA'" uncheckable>
                        LTA
                    </label>
                    <label class="btn btn-default" ng-model="planForward.attribution" btn-radio="'MTA'" uncheckable>
                        MTA
                    </label>
                </div>
                <div class="col-xs-1 elp-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{attrTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardBeginPeriod" class="col-xs-12 col-sm-2 control-label">Begin Period:</label>

                <div class="col-xs-11 col-sm-4">
                    <div class="input-group">
                        <input id="planForwardBeginPeriod" type="text" class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="planForward.beginPeriod" is-open="opened.planForwardBeginPeriod"
                               min-date="{{minDate}}"
                               datepicker-options="dateOptions" datepicker-mode="'month'" ng-required="true"
                               close-text="Close" disabled>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="open($event, 'planForwardBeginPeriod')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-1 elp-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{beginPeriodTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardEndPeriod" class="col-xs-12 col-sm-2 control-label">End Period:</label>

                <div class="col-xs-11 col-sm-4">
                    <div class="input-group">
                        <input id="planForwardEndPeriod" type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="planForward.endPeriod" is-open="opened.planForwardEndPeriod"
                               ng-change="getLastDate()"
                               min-date="planForward.beginPeriod" datepicker-options="dateOptions" disabled
                               datepicker-mode="'month'" ng-required="true" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="open($event, 'planForwardEndPeriod')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-1 elp-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{endPeriodTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardSpend" class="col-xs-12 col-sm-2 control-label">Portfolio Spend:</label>

                <div class="col-xs-11 col-sm-4">
                    <input class="form-control" id="planForwardSpend" type="text" ng-model="planForward.spend"
                           format-input>
                </div>
                <div class="col-xs-1 elp-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{spendTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-2">
                    <button type="button" class="btn btn-default" ng-click="CInput()">Next
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="Constraints Input" ng-if="nav.current==='Constraints Input'">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Plan Forward</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Initial Input</a></li>
            <li>Constraints Input</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12 well well-sm">
            <strong>Brand</strong>: {{planForward.brand}}
            <strong>Attribution</strong>: {{planForward.attribution}}
            <strong>Begin Period</strong>: {{planForward.beginPeriod | date: 'MMM-dd-yyyy'}}
            <strong>End Period</strong>: {{planForward.endPeriod | date: 'MMM-dd-yyyy'}}
            <strong>Portfolio Spend </strong>: {{planForward.spend | formatCurrency}}
            <!--<strong>Data through</strong>: {{planForward.dataThrough | date: 'MMM-dd-yyyy'}}-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Portfolio Channels</th>
                        <th rowspan="2">Select for Planning?</th>
                        <th rowspan="2">Lower Bound</th>
                        <th colspan="2">Spend Constraints</th>
                        <th rowspan="2">Upper Bound</th>
                        <!--<th rowspan="2">Scaling Factor</th>-->
                    </tr>
                    <tr>
                        <th>Minimum</th>
                        <th>Maximum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SEM-Total</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="planForward.selectPlan.semTotal"
                                           ng-click="totCheck()">
                                </label>
                            </div>
                        </td>
                        <td ng-model="planForward.output.semTLB =  (planForward.output.semBLB - 1) + (planForward.output.semCLB - 1) + (planForward.output.semPLB - 1) + (planForward.output.semOLB - 1) + 4">
                            {{planForward.output.semTLB | formatCurrency}}
                        </td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputSemMin"></label>
                                <input ng-model="planForward.input.semMin" id="planForwardInputSemMin" type="text"
                                       string-to-number class="form-control" min="{{planForward.output.semTLB}}"
                                       max="{{planForward.input.semMax}}" format-input>
                                <label class="sr-only" for="planForwardInputSemMinRange"></label>
                                <input ng-model="planForward.input.semMin" id="planForwardInputSemMinRange" type="range"
                                       min="{{planForward.output.semTLB}}" max="{{planForward.input.semMax}}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputSemMax"></label>
                                <input ng-model="planForward.input.semMax" id="planForwardInputSemMax" type="text"
                                       string-to-number class="form-control" min="{{planForward.input.semMin}}"
                                       max="{{planForward.output.semTUB}}" format-input>
                                <label class="sr-only" for="planForwardInputSemMaxRange"></label>
                                <input ng-model="planForward.input.semMax" id="planForwardInputSemMaxRange" type="range"
                                       min="{{planForward.input.semMin}}" max="{{planForward.output.semTUB}}">
                            </div>
                        </td>
                        <td ng-model="planForward.output.semTUB =  (planForward.output.semBUB - 1) + (planForward.output.semCUB - 1) + (planForward.output.semPUB - 1) + (planForward.output.semOUB - 1) + 4">
                            {{planForward.output.semTUB | formatCurrency}}
                        </td>

                        <!--<td></td>-->
                    </tr>
                    <!--<tr>-->
                    <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM-Brand</td>-->
                    <!--<td>-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox" ng-model="planForward.selectPlan.semBrand" ng-click="subCheck()">-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM-Card</td>-->
                    <!--<td>-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox" ng-model="planForward.selectPlan.semCard" ng-click="subCheck()">-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM-Photobook</td>-->
                    <!--<td>-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox" ng-model="planForward.selectPlan.semPhotobook" ng-click="subCheck()">-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM-Others</td>-->
                    <!--<td>-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox" ng-model="planForward.selectPlan.semOthers" ng-click="subCheck()">-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
                    <!--</tr>-->
                    <tr>
                        <td>Display</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="planForward.selectPlan.display">
                                </label>
                            </div>
                        </td>
                        <td>{{planForward.output.disLB | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputDisMin"></label>
                                <input ng-model="planForward.input.disMin" id="planForwardInputDisMin" type="text"
                                       string-to-number class="form-control" min="{{planForward.output.disLB}}"
                                       max="{{planForward.input.disMax}}" format-input>
                                <label class="sr-only" for="planForwardInputDisMinRange"></label>
                                <input ng-model="planForward.input.disMin" id="planForwardInputDisMinRange" type="range"
                                       min="{{planForward.output.disLB}}" max="{{planForward.input.disMax}}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputDisMax"></label>
                                <input ng-model="planForward.input.disMax" id="planForwardInputDisMax" type="text"
                                       string-to-number class="form-control" min="{{planForward.input.disMin}}"
                                       max="{{planForward.output.disUB}}" format-input>
                                <label class="sr-only" for="planForwardInputDisMaxRange"></label>
                                <input ng-model="planForward.input.disMax" id="planForwardInputDisMaxRange" type="range"
                                       min="{{planForward.input.disMin}}" max="{{planForward.output.disUB}}">
                            </div>
                        </td>
                        <td>{{planForward.output.disUB | formatCurrency}}</td>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <td>Social(FB)</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="planForward.selectPlan.social">
                                </label>
                            </div>
                        </td>
                        <td>{{planForward.output.socLB | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputSocMin"></label>
                                <input ng-model="planForward.input.socMin" id="planForwardInputSocMin" type="text"
                                       string-to-number class="form-control" min="{{planForward.output.socLB}}"
                                       max="{{planForward.input.socMax}}" format-input>
                                <label class="sr-only" for="planForwardInputSocMinRange"></label>
                                <input ng-model="planForward.input.socMin" id="planForwardInputSocMinRange" type="range"
                                       min="{{planForward.output.socLB}}" max="{{planForward.input.socMax}}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputSocMax"></label>
                                <input ng-model="planForward.input.socMax" id="planForwardInputSocMax" type="text"
                                       string-to-number class="form-control" min="{{planForward.input.socMin}}"
                                       max="{{planForward.output.socUB}}" format-input>
                                <label class="sr-only" for="planForwardInputSocMaxRange"></label>
                                <input ng-model="planForward.input.socMax" id="planForwardInputSocMaxRange" type="range"
                                       min="{{planForward.input.socMin}}" max="{{planForward.output.socUB}}">
                            </div>
                        </td>
                        <td>{{planForward.output.socUB | formatCurrency}}</td>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <td>Affiliates</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="planForward.selectPlan.affiliates">
                                </label>
                            </div>
                        </td>
                        <td>{{planForward.output.affLB | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputAffMin"></label>
                                <input ng-model="planForward.input.affMin" id="planForwardInputAffMin" type="text"
                                       string-to-number class="form-control" min="{{planForward.output.affLB}}"
                                       max="{{planForward.input.affMax}}" format-input>
                                <label class="sr-only" for="planForwardInputAffMinRange"></label>
                                <input ng-model="planForward.input.affMin" id="planForwardInputAffMinRange" type="range"
                                       min="{{planForward.output.affLB}}" max="{{planForward.input.affMax}}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputAffMax"></label>
                                <input ng-model="planForward.input.affMax" id="planForwardInputAffMax" type="text"
                                       string-to-number class="form-control" min="{{planForward.input.affMin}}"
                                       max="{{planForward.output.affUB}}" format-input>
                                <label class="sr-only" for="planForwardInputAffMaxRange"></label>
                                <input ng-model="planForward.input.affMax" id="planForwardInputAffMaxRange" type="range"
                                       min="{{planForward.input.affMin}}" max="{{planForward.output.affUB}}">
                            </div>
                        </td>
                        <td>{{planForward.output.affUB | formatCurrency}}</td>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <td>Partners</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="planForward.selectPlan.partners">
                                </label>
                            </div>
                        </td>
                        <td>{{planForward.output.parLB | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputParMin"></label>
                                <input ng-model="planForward.input.parMin" id="planForwardInputParMin" type="text"
                                       string-to-number class="form-control" min="{{planForward.output.parLB}}"
                                       max="{{planForward.input.parMax}}" format-input>
                                <label class="sr-only" for="planForwardInputParMinRange"></label>
                                <input ng-model="planForward.input.parMin" id="planForwardInputParMinRange" type="range"
                                       min="{{planForward.output.parLB}}" max="{{planForward.input.parMax}}">
                            </div>
                        </td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputParMax"></label>
                                <input ng-model="planForward.input.parMax" id="planForwardInputParMax" type="text"
                                       string-to-number class="form-control" min="{{planForward.input.parMin}}"
                                       max="{{planForward.output.parUB}}" format-input>
                                <label class="sr-only" for="planForwardInputParMaxRange"></label>
                                <input ng-model="planForward.input.parMax" id="planForwardInputParMaxRange" type="range"
                                       min="{{planForward.input.parMin}}" max="{{planForward.output.parUB}}">
                            </div>
                        </td>
                        <td>{{planForward.output.parUB | formatCurrency}}</td>
                        <!--<td></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="true">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Control Channels</th>
                        <th ng-repeat="month in planForward.ControlChannels">{{month | date: 'MMM-dd-yyyy'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>DM</td>
                        <td ng-repeat="month in planForward.ControlChannels"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="true">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th rowspan="2">TV</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Spend ($)</th>
                        <th>Impressions</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-group form-horizontal">
            <div class="col-xs-6 col-xs-offset-0 col-sm-2 col-sm-offset-2">
                <button type="button" class="btn btn-default" ng-click="nav.current='Initial Input'">Prev</button>
            </div>
            <div class="col-xs-6 col-sm-2">
                <button type="button" class="btn btn-default" ng-click="calculate()">Next</button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="Output" ng-if="nav.current==='Output'">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Plan Forward</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Initial Input</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Constraints Input'">Constraints Input</a></li>
            <li>Output</li>
        </ol>
    </div>
    <div class="row">
        <div class="well well-sm"><label>Scenario ID:</label>{{planForward.output.ScenarioID}}<br>
            <strong>Brand</strong>: {{planForward.brand}}
            <strong>Attribution</strong>: {{planForward.attribution}}
            <strong>Begin Period</strong>: {{planForward.beginPeriod | date: 'MMM-dd-yyyy'}}
            <strong>End Period</strong>: {{planForward.endPeriod | date: 'MMM-dd-yyyy'}}
            <strong>Portfolio Spend </strong>: {{planForward.spend | formatCurrency}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th rowspan="2">Portfolio Channels</th>
                        <th colspan="4">Input</th>
                        <th colspan="2">Optimized</th>
                        <th colspan="2">What-if</th>
                        <th colspan="2">Different</th>
                    </tr>
                    <tr>
                        <th>Lower</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Upper</th>
                        <th>Spend</th>
                        <th>Rev</th>
                        <th>Spend</th>
                        <th>Rev</th>
                        <th>Spend</th>
                        <th>Rev</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>SEM Total</td>
                        <td>{{planForward.output.semTLB | formatCurrency}}</td>
                        <td>{{planForward.input.semMin | formatCurrency}}</td>
                        <td>{{planForward.input.semMax | formatCurrency}}</td>
                        <td>{{planForward.output.semTUB | formatCurrency}}</td>
                        <td>{{planForward.output.semSR | formatCurrency}}</td>
                        <td>{{planForward.output.semPR | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputSemAS"></label>
                                <input id="planForwardInputSemAS" type="text" string-to-number
                                       ng-model="planForward.input.semAS" class="form-control"
                                       min="{{planForward.output.semTLB}}" max="{{planForward.output.semTUB}}"
                                       format-input>
                                <label class="sr-only" for="planForwardInputSemASRange"></label>
                                <input ng-model="planForward.input.semAS" id="planForwardInputSemASRange" type="range"
                                       min="{{planForward.output.semTLB}}" max="{{planForward.output.semTUB}}">
                            </div>
                        </td>
                        <td ng-model="planForward.output.semAR = (planForward.output.semPR - 1) + (planForward.input.semAS - 1) - (planForward.output.semSR - 1) + 3">
                            {{planForward.output.semAR | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.semSD = planForward.input.semAS - planForward.output.semSR">
                            {{planForward.output.semSD | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.semRD = planForward.output.semAR - planForward.output.semPR">
                            {{planForward.output.semRD | formatCurrency}}
                        </td>
                    </tr>
                    <tr>
                        <td>Display</td>
                        <td>{{planForward.output.disLB | formatCurrency}}</td>
                        <td>{{planForward.input.disMin | formatCurrency}}</td>
                        <td>{{planForward.input.disMax | formatCurrency}}</td>
                        <td>{{planForward.output.disUB | formatCurrency}}</td>
                        <td>{{planForward.output.disSR | formatCurrency}}</td>
                        <td>{{planForward.output.disPR | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputDisAS"></label>
                                <input id="planForwardInputDisAS" type="text" string-to-number
                                       ng-model="planForward.input.disAS" class="form-control"
                                       min="{{planForward.output.disLB}}" max="{{planForward.output.disUB}}"
                                       format-input>
                                <label class="sr-only" for="planForwardInputDisASRange"></label>
                                <input ng-model="planForward.input.disAS" id="planForwardInputDisASRange" type="range"
                                       min="{{planForward.output.disLB}}" max="{{planForward.output.disUB}}">
                            </div>
                        </td>
                        <td ng-model="planForward.output.disAR = (planForward.output.disPR - 1) + (planForward.input.disAS - 1) - (planForward.output.disSR - 1) + 3">
                            {{planForward.output.disAR | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.disSD = planForward.input.disAS - planForward.output.disSR">
                            {{planForward.output.disSD | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.disRD = planForward.output.disAR - planForward.output.disPR">
                            {{planForward.output.disRD | formatCurrency}}
                        </td>
                    </tr>
                    <tr>
                        <td>Social(FB)</td>
                        <td>{{planForward.output.socLB | formatCurrency}}</td>
                        <td>{{planForward.input.socMin | formatCurrency}}</td>
                        <td>{{planForward.input.socMax | formatCurrency}}</td>
                        <td>{{planForward.output.socUB | formatCurrency}}</td>
                        <td>{{planForward.output.socSR | formatCurrency}}</td>
                        <td>{{planForward.output.socPR | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputSocAS"></label>
                                <input id="planForwardInputSocAS" type="text" string-to-number
                                       ng-model="planForward.input.socAS" class="form-control"
                                       min="{{planForward.output.socLB}}" max="{{planForward.output.socUB}}"
                                       format-input>
                                <label class="sr-only" for="planForwardInputSocASRange"></label>
                                <input ng-model="planForward.input.socAS" id="planForwardInputSocASRange" type="range"
                                       min="{{planForward.output.socLB}}" max="{{planForward.output.socUB}}">
                            </div>
                        </td>
                        <td ng-model="planForward.output.socAR = (planForward.output.socPR - 1) + (planForward.input.socAS - 1) - (planForward.output.socSR - 1) + 3">
                            {{planForward.output.socAR | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.socSD = planForward.input.socAS - planForward.output.socSR">
                            {{planForward.output.socSD | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.socRD = planForward.output.socAR - planForward.output.socPR">
                            {{planForward.output.socRD | formatCurrency}}
                        </td>
                    </tr>
                    <tr>
                        <td>Affiliates</td>
                        <td>{{planForward.output.affLB | formatCurrency}}</td>
                        <td>{{planForward.input.affMin | formatCurrency}}</td>
                        <td>{{planForward.input.affMax | formatCurrency}}</td>
                        <td>{{planForward.output.affUB | formatCurrency}}</td>
                        <td>{{planForward.output.affSR | formatCurrency}}</td>
                        <td>{{planForward.output.affPR | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputAffAS"></label>
                                <input id="planForwardInputAffAS" type="text" string-to-number
                                       ng-model="planForward.input.affAS" class="form-control"
                                       min="{{planForward.output.affLB}}" max="{{planForward.output.affUB}}"
                                       format-input>
                                <label class="sr-only" for="planForwardInputAffASRange"></label>
                                <input ng-model="planForward.input.affAS" id="planForwardInputAffASRange" type="range"
                                       min="{{planForward.output.affLB}}" max="{{planForward.output.affUB}}">
                            </div>
                        </td>
                        <td ng-model="planForward.output.affAR = (planForward.output.affPR - 1) + (planForward.input.affAS - 1) - (planForward.output.affSR - 1) + 3">
                            {{planForward.output.affAR | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.affSD = planForward.input.affAS - planForward.output.affSR">
                            {{planForward.output.affSD | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.affRD = planForward.output.affAR - planForward.output.affPR">
                            {{planForward.output.affRD | formatCurrency}}
                        </td>
                    </tr>
                    <tr>
                        <td>Partners</td>
                        <td>{{planForward.output.parLB | formatCurrency}}</td>
                        <td>{{planForward.input.parMin | formatCurrency}}</td>
                        <td>{{planForward.input.parMax | formatCurrency}}</td>
                        <td>{{planForward.output.parUB | formatCurrency}}</td>
                        <td>{{planForward.output.parSR | formatCurrency}}</td>
                        <td>{{planForward.output.parPR | formatCurrency}}</td>
                        <td>
                            <div class="form-group-sm">
                                <label class="sr-only" for="planForwardInputParAS"></label>
                                <input id="planForwardInputParAS" type="text" string-to-number
                                       ng-model="planForward.input.parAS" class="form-control"
                                       min="{{planForward.output.parLB}}" max="{{planForward.output.parUB}}"
                                       format-input>
                                <label class="sr-only" for="planForwardInputParASRange"></label>
                                <input ng-model="planForward.input.parAS" id="planForwardInputParASRange" type="range"
                                       min="{{planForward.output.parLB}}" max="{{planForward.output.parUB}}">
                            </div>
                        </td>
                        <td ng-model="planForward.output.parAR = (planForward.output.parPR - 1) + (planForward.input.parAS - 1) - (planForward.output.parSR - 1) + 3">
                            {{planForward.output.parAR | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.parSD = planForward.input.parAS - planForward.output.parSR">
                            {{planForward.output.parSD | formatCurrency}}
                        </td>
                        <td ng-model="planForward.output.parRD = planForward.output.parAR - planForward.output.parPR">
                            {{planForward.output.parRD | formatCurrency}}
                        </td>
                    </tr>
                    <tr>
                        <td>Portfolio Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Portfolio ROI</td>
                        <td colspan="4"></td>
                        <td colspan="2">%</td>
                        <td colspan="2">%</td>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </div>
            <!--<div class="table-responsive">-->
            <!--<table class="table table-striped table-bordered table-condensed">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th rowspan="2">Portfolio Channels</th>-->
            <!--<th colspan="5">Input</th>-->
            <!--<th colspan="2">Optimized</th>-->
            <!--<th colspan="5">What-if</th>-->
            <!--<th>Different</th>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<th>Lower</th>-->
            <!--<th>Min</th>-->
            <!--<th>Max</th>-->
            <!--<th>Upper</th>-->
            <!--<th>Scaling</th>-->
            <!--<th>Spend</th>-->
            <!--<th>Rev</th>-->
            <!--<th>Min</th>-->
            <!--<th>Max</th>-->
            <!--<th>Scaling</th>-->
            <!--<th>Spend</th>-->
            <!--<th>Rev</th>-->
            <!--<th>Spend</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
            <!--<td>SEM Total</td>-->
            <!--<td colspan="5"></td>-->
            <!--<td colspan="2"></td>-->
            <!--<td colspan="3"></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemTotal"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semTotal" id="planForwardOutputWhatIfSpendSemTotal" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.semTotal}}" max="{{planForward.output.whatIf.max.semTotal}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemTotalRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semTotal" id="planForwardOutputWhatIfSpendSemTotalRange" type="range" min="{{planForward.output.whatIf.min.semTotal}}" max="{{planForward.output.whatIf.max.semTotal}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM - Brand</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td rowspan="4"></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemBrand"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semBrand" id="planForwardOutputWhatIfSpendSemBrand" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.semBrand}}" max="{{planForward.output.whatIf.max.semBrand}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemBrandRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semBrand" id="planForwardOutputWhatIfSpendSemBrandRange" type="range" min="{{planForward.output.whatIf.min.semBrand}}" max="{{planForward.output.whatIf.max.semBrand}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td rowspan="4"></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM - Card</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemCard"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semCard" id="planForwardOutputWhatIfSpendSemCard" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.semCard}}" max="{{planForward.output.whatIf.max.semCard}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemCardRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semCard" id="planForwardOutputWhatIfSpendSemCardRange" type="range" min="{{planForward.output.whatIf.min.semCard}}" max="{{planForward.output.whatIf.max.semCard}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM - Photobook</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemPhotobook"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semPhotobook" id="planForwardOutputWhatIfSpendSemPhotobook" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.semPhotobook}}" max="{{planForward.output.whatIf.max.semPhotobook}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemPhotobookRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semPhotobook" id="planForwardOutputWhatIfSpendSemPhotobookRange" type="range" min="{{planForward.output.whatIf.min.semPhotobook}}" max="{{planForward.output.whatIf.max.semPhotobook}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>&nbsp;&nbsp;&nbsp;&nbsp;SEM - Others</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemOthers"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semOthers" id="planForwardOutputWhatIfSpendSemOthers" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.semOthers}}" max="{{planForward.output.whatIf.max.semOthers}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSemOthersRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.semOthers" id="planForwardOutputWhatIfSpendSemOthersRange" type="range" min="{{planForward.output.whatIf.min.semOthers}}" max="{{planForward.output.whatIf.max.semOthers}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Display</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendDisplay"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.display" id="planForwardOutputWhatIfSpendDisplay" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.display}}" max="{{planForward.output.whatIf.max.display}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendDisplayRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.display" id="planForwardOutputWhatIfSpendDisplayRange" type="range" min="{{planForward.output.whatIf.min.display}}" max="{{planForward.output.whatIf.max.display}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Social(FB)</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSocial"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.social" id="planForwardOutputWhatIfSpendSocial" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.social}}" max="{{planForward.output.whatIf.max.social}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendSocialRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.social" id="planForwardOutputWhatIfSpendSocialRange" type="range" min="{{planForward.output.whatIf.min.social}}" max="{{planForward.output.whatIf.max.social}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Affiliates</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendAffiliates"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.affiliates" id="planForwardOutputWhatIfSpendAffiliates" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.affiliates}}" max="{{planForward.output.whatIf.max.affiliates}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendAffiliatesRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.affiliates" id="planForwardOutputWhatIfSpendAffiliatesRange" type="range" min="{{planForward.output.whatIf.min.affiliates}}" max="{{planForward.output.whatIf.max.affiliates}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Partners</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td>-->
            <!--<div class="form-group-sm">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendPartners"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.partners" id="planForwardOutputWhatIfSpendPartners" type="text" string-to-number class="form-control" min="{{planForward.output.whatIf.min.partners}}" max="{{planForward.output.whatIf.max.partners}}">-->
            <!--<label class="sr-only" for="planForwardOutputWhatIfSpendPartnersRange"></label>-->
            <!--<input ng-model="planForward.output.whatIf.spend.partners" id="planForwardOutputWhatIfSpendPartnersRange" type="range" min="{{planForward.output.whatIf.min.partners}}" max="{{planForward.output.whatIf.max.partners}}">-->
            <!--</div>-->
            <!--</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Portfolio Total</td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Portfolio ROI</td>-->
            <!--<td colspan="5"></td>-->
            <!--<td colspan="2">%</td>-->
            <!--<td colspan="5">%</td>-->
            <!--<td></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td colspan="all"></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td colspan="13">Change in Brand Total Revenue</td>-->
            <!--<td>%</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row" style="min-height: 130px">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0)" ng-click="">Export</a></li>
                        <li><a href="javascript:void(0)" ng-click="">Share</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="">Re-run</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</div>