<div class="container-fluid">
    <!--nav bar-->
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#dashBoard">Dash Board</a></li>
            <li><a href="#myscenarios">My Scenarios</a></li>
            <li>Export</li>
        </ol>
    </div>
    <!--end nav bar-->
    <!--form-->
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label">Brand:</label>

            <div class="col-xs-11 col-sm-4 well well-sm">
                testData
            </div>
            <div class="col-xs-1 elp-info">
                <i class="fa fa-question-circle" tooltip-placement="right" tooltip="tooltip"></i>
            </div>
        </div>
    </form>
</div>